{% extends "admin/base_site.html" %}

{% block title %}{{ 'Welcome to Nokia Tangaza'  }}{% endblock %}
{% block content %}
<!--- the container for the site --->
<div id="container">
  <div id="mainContentHome">
    <div id="homeContent" align="center">
      <div id="content_box">
	<br />
	Tangaza
	<br />
	<br />
	<img src="/media/speaker-small.png" />
	<br />
	<br /> 
	<br />
	<br />
	<div> 
	  <p>Info about Tangaza</p> 
	  <p>
	    If you are already using Tangaza
	    <a href="admin/Tangaza/vikundi">go here</a>
	  </p>
	  <br />
	  <p>If you want to use Tangaza <a href="#">go here</a></p>
	  <br />
	  <p>If you want to build your own applications using Tangaza <a href="/docs/">go here</a></p>
	  <br />
	</div>
	<br />
      </div> 
      <div class="alignClear"></div> 
    </div>
  </div>
  <div class="alignClear"></div>
</div>


{% endblock %}


